@import "./Variables.scss";

#company--header {
  margin-top: 100px;
  padding: 0 0 165px 0;
  @media(max-width: $Tablet) {
    padding: 0 0 75px 0;
  }
  @media(max-width: $Phone) {
    padding: 0 0 50px 0;
  }
  #company-header-inner--text {
    text-align: center;
    margin-bottom: 40px;
    @media(max-width: $Tablet) {
      padding: 0 15px;
    }
    h2 {
      max-width: 750px;
      margin: 0 auto 10px auto;
      color: $Red;
      @media(max-width: $TabletLG) {
        font-size: 60px;
        line-height: 72px;
        max-width: 575px;
      }
      @media(max-width: $Tablet) {
        font-size: 36px;
        line-height: 48px;
      }
      @media(max-width: $Phone) {
        font-size: 32px;
        line-height: 46px;
      }
    }
    p {
      max-width: 700px;
      margin: 0 auto;
      font-size: 20px;
      line-height: 37px;
      @media(max-width: $DeskLG) {
        max-width: 700px;
      }
      @media(max-width: $TabletLG) {
        max-width: 600px;
        font-size: 18px;
      }
      @media(max-width: $Tablet) {
        font-size: 14px;
        line-height: 32px;
      }
    }
  }
  #company-header--attributes {
    .company-header-attribute--container {
      @media(max-width: $Tablet) {
        width: 100%;
        text-align: center;
        margin: 0 0 40px 0;
      }
      &:last-of-type {
        @media(max-width: $Tablet) {
          margin: 0;
        }
      }
      .company-attributes-icon--container {
        height: 95px;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin-bottom: 20px;
        @media(max-width: $Tablet) {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-bottom: 10px;
          height: unset;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
        }
      }
      h2 {
        line-height: 1;
        font-size: 38px;
        color: $BlueOne;
        @media(max-width: $TabletLG) {
          font-size: 30px;
        }
      }
      h3 {
        color: $Navy;
        line-height: 36px;
        font-size: 22px;
        @media(max-width: $TabletLG) {
          font-size: 18px;
          line-height: 1;
          margin-top: 10px;
        }
      }
    }
  }
  #toronto-icon {
    width: 35px;
    height: auto;
    max-height: 115px;
    @media(max-width: $TabletLG) {
      width: 30px;
    }
  }
  #world-icon {
    width: 85px;
    height: auto;
    max-height: 90px;
    @media(max-width: $TabletLG) {
      width: 70px;
    }
  }
  #phone-icon {
    width: 65px;
    height: auto;
    max-height: 115px;
    @media(max-width: $TabletLG) {
      width: 55px;
    }
  }
  #client-icon {
    width: 90px;
    height: auto;
    max-height: 105px;
    @media(max-width: $TabletLG) {
      width: 80px;
    }
  }
}

#company--team {
  background: $BlueTwo;
  padding: 0 0 165px 0;
  @media(max-width: $Tablet) {
    padding: 0 0 75px 0;
  }
  @media(max-width: $Phone) {
    padding: 0 0 50px 0;
  }
  #company-team--photo-container {
    padding: 35px 35px 0 35px;
    margin-bottom: 100px;
    @media(max-width: $Tablet) {
      margin-bottom: 40px;
    }
    img {
      width: 100%;
    }
  }
  #company-team--intro-text {
    text-align: center;
    margin-bottom: 80px;
    @media(max-width: $Tablet) {
      margin-bottom: 40px;
      padding: 0 15px;
    }
    h1 {
      color: $White;
      max-width: 600px;
      margin: 0 auto;
      @media(max-width: $TabletLG) {
        font-size: 60px;
        line-height: 72px;
      }
      @media(max-width: $Tablet) {
        font-size: 36px;
        line-height: 48px;
        margin: 0 auto 10px auto;
      }
    }
    p {
      color: $White;
      max-width: 650px;
      margin: 0 auto;
      font-size: 20px;
      line-height: 37px;
      @media(max-width: $Tablet) {
        font-size: 14px;
        line-height: 32px;
      }
      @media(max-width: $Phone) {
        max-width: 260px;
      }
      br {
        @media(max-width: $Tablet) {
          display: none;
        }
      }
    }
  }
  #company-team--members-container {
    @media(max-width: $Tablet) {
      padding: 0 15px;
    }
    .team-member--large,.team-member--small {
      h2,h3,p {
        color: $White;
      }
      p {
        font-size: 16px;
        line-height: 37px;
        @media(max-width: $TabletLG) {
          font-size: 14px;
          line-height: 32px;
        }
      }
      h3 {
        font-size: 20px;
        line-height: 36px;
        @media(max-width: $TabletLG) {
          font-size: 16px;
          line-height: 36px;
        }
        @media(max-width: $Tablet) {
          line-height: 24px;
        }
      }
    }
    .team-member--large {
      max-width: 475px;
      margin-bottom: 80px;
      @media(max-width: $DeskLG) {
        max-width: 400px;
      }
      @media(max-width: $TabletLG) {
        max-width: 300px;
      }
      @media(max-width: $Tablet) {
        max-width: 100%;
        width: 100%;
        margin-bottom: 40px;
      }
      h2 {
        @media(max-width: $TabletLG) {
          font-size: 35px;
          line-height: 46px;
        }
        @media(max-width: $Tablet) {
          font-size: 28px;
          line-height: 42px;
        }
      }
    }
    .team-member--small {
      max-width: 300px;
      @media(max-width: $TabletLG) {
        width: 32%;
      }
      @media(max-width: $Tablet) {
        width: 100%;
        max-width: 100%;
        margin-bottom: 40px;
      }
      &:last-of-type {
        @media(max-width: $Tablet) {
          margin-bottom: 0;
        }
      }
      h2 {
        font-size: 35px;
        line-height: 46px;
        @media(max-width: $TabletLG) {
          font-size: 28px;
          line-height: 46px;
        }
        @media(max-width: $Tablet) {
          line-height: 42px;
        }
      }
    }
  }
  #company-team--rule {
    width: 100%;
    height: 1px;
    background: #363B71;
    margin: 80px 0;
    @media(max-width: $Tablet) {
      margin: 35px 0;
    }
  }
  #company-team--hiring {
    text-align: center;
    @media(max-width: $Tablet) {
      padding: 0 15px;
    }
    h1 {
      color: $White;
      margin: 0 auto 20px auto;
      @media(max-width: $TabletLG) {
        font-size: 60px;
        line-height: 72px;
      }
      @media(max-width: $Tablet) {
        font-size: 36px;
        line-height: 48px;
      }
    }
    p {
      color: $White;
      margin: 0 auto 30px auto;
      font-size: 20px;
      line-height: 37px;
      max-width: 650px;
      @media(max-width: $Tablet) {
        font-size: 14px;
        line-height: 32px;
      }
      @media(max-width: $Phone) {
        max-width: 260px;
      }
    }
    .button {
      width: 265px;
    }
  }
}

#company--news {
  #company-news--intro-text {
    margin-bottom: 40px;
    text-align: center;
    @media(max-width: $Tablet) {
      padding: 0 15px;
      margin: 0 auto 20px auto;
    }
    h1 {
      color: $Black;
      max-width: 750px;
      margin: 0 auto;
      @media(max-width: $TabletLG) {
        font-size: 60px;
        line-height: 72px;
      }
      @media(max-width: $Tablet) {
        font-size: 36px;
        line-height: 48px;
      }
    }
    p {
      font-size: 20px;
      line-height: 37px;
      @media(max-width: $Tablet) {
        font-size: 14px;
        line-height: 32px;
        max-width: 250px;
        margin: 0 auto;
      }
    }
  }
  #company-news--items {
    margin: 0 auto;
    padding: 0 40px;
    @media(max-width: $Tablet) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .company-news-item--image {
      height: auto;
      width: 32%;
      @media(max-width: $Tablet) {
        width: 100%;
        max-width: 350px;
        margin-bottom: 15px;
      }
    }
  }
}
