#Publishers {
  background-color: #F8F8F8; }

@media (max-width: 768px) {
  #publishers--header {
    padding-bottom: 40px; } }

#publishers--ads #publishers--ads-container .publishers-ads--row {
  position: relative;
  white-space: nowrap; }
  #publishers--ads #publishers--ads-container .publishers-ads--row .publishers--ad {
    width: 480px;
    height: 240px;
    margin: 0 10px;
    display: inline-block;
    position: relative;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out; }
    @media (max-width: 992px) {
      #publishers--ads #publishers--ads-container .publishers-ads--row .publishers--ad {
        width: 400px;
        height: 200px; } }
    @media (max-width: 768px) {
      #publishers--ads #publishers--ads-container .publishers-ads--row .publishers--ad {
        width: 300px;
        height: 150px;
        margin: 0 5px; } }
    @media (max-width: 550px) {
      #publishers--ads #publishers--ads-container .publishers-ads--row .publishers--ad {
        width: 170px;
        height: 85px; } }

#publishers--ads #publishers--ads-container #publishers-ads--row-1 {
  left: -100px; }

#publishers--ads #publishers--ads-container #publishers-ads--row-2 {
  left: -300px;
  margin-top: 20px; }
  @media (max-width: 768px) {
    #publishers--ads #publishers--ads-container #publishers-ads--row-2 {
      margin-top: 10px;
      left: -195px; } }

.publishers--ad-active {
  opacity: 1 !important; }

#publishers--features {
  padding: 0 0 165px 0; }
  @media (max-width: 768px) {
    #publishers--features {
      padding: 0 0 80px 0; } }
  @media (max-width: 768px) {
    #publishers--features .publishers-features--item-left {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; } }
  @media (max-width: 768px) {
    #publishers--features .publishers-features--item-left img {
      margin-left: auto; } }
  @media (max-width: 768px) {
    #publishers--features .publishers-features--item-left .publishers-feature-item--text {
      text-align: right;
      margin-left: auto; } }
  @media (max-width: 768px) {
    #publishers--features .publishers-features--item-left .publishers-feature-item--text h2, #publishers--features .publishers-features--item-left .publishers-feature-item--text p {
      margin-left: auto; } }
  @media (max-width: 768px) {
    #publishers--features .publishers-features--item-right .publishers-feature-item--text {
      margin-right: auto; } }
  #publishers--features .publishers-features--item-right, #publishers--features .publishers-features--item-left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 125px; }
    @media (max-width: 768px) {
      #publishers--features .publishers-features--item-right, #publishers--features .publishers-features--item-left {
        margin-bottom: 55px; } }
    @media (max-width: 768px) {
      #publishers--features .publishers-features--item-right, #publishers--features .publishers-features--item-left {
        padding: 0 15px; } }
    #publishers--features .publishers-features--item-right:last-of-type, #publishers--features .publishers-features--item-left:last-of-type {
      margin-bottom: 0; }
    #publishers--features .publishers-features--item-right img, #publishers--features .publishers-features--item-left img {
      width: 500px;
      height: auto; }
      @media (max-width: 1200px) {
        #publishers--features .publishers-features--item-right img, #publishers--features .publishers-features--item-left img {
          width: 450px; } }
      @media (max-width: 992px) {
        #publishers--features .publishers-features--item-right img, #publishers--features .publishers-features--item-left img {
          width: 275px; } }
      @media (max-width: 768px) {
        #publishers--features .publishers-features--item-right img, #publishers--features .publishers-features--item-left img {
          width: 400px; } }
      @media (max-width: 550px) {
        #publishers--features .publishers-features--item-right img, #publishers--features .publishers-features--item-left img {
          width: 100%; } }
    #publishers--features .publishers-features--item-right .publishers-feature-item--text, #publishers--features .publishers-features--item-left .publishers-feature-item--text {
      max-width: 525px; }
      @media (max-width: 1200px) {
        #publishers--features .publishers-features--item-right .publishers-feature-item--text, #publishers--features .publishers-features--item-left .publishers-feature-item--text {
          max-width: 450px; } }
      @media (max-width: 992px) {
        #publishers--features .publishers-features--item-right .publishers-feature-item--text, #publishers--features .publishers-features--item-left .publishers-feature-item--text {
          max-width: 385px; } }
      @media (max-width: 768px) {
        #publishers--features .publishers-features--item-right .publishers-feature-item--text, #publishers--features .publishers-features--item-left .publishers-feature-item--text {
          margin-top: 20px;
          max-width: 420px; } }
      #publishers--features .publishers-features--item-right .publishers-feature-item--text h2, #publishers--features .publishers-features--item-left .publishers-feature-item--text h2 {
        color: #850201; }
        @media (max-width: 992px) {
          #publishers--features .publishers-features--item-right .publishers-feature-item--text h2, #publishers--features .publishers-features--item-left .publishers-feature-item--text h2 {
            font-size: 36px;
            line-height: 52px; } }
        @media (max-width: 768px) {
          #publishers--features .publishers-features--item-right .publishers-feature-item--text h2, #publishers--features .publishers-features--item-left .publishers-feature-item--text h2 {
            font-size: 28px;
            line-height: 42px;
            max-width: 100%; } }
        @media (max-width: 550px) {
          #publishers--features .publishers-features--item-right .publishers-feature-item--text h2, #publishers--features .publishers-features--item-left .publishers-feature-item--text h2 {
            max-width: 260px; } }
      #publishers--features .publishers-features--item-right .publishers-feature-item--text p, #publishers--features .publishers-features--item-left .publishers-feature-item--text p {
        max-width: 475px; }
        @media (max-width: 992px) {
          #publishers--features .publishers-features--item-right .publishers-feature-item--text p, #publishers--features .publishers-features--item-left .publishers-feature-item--text p {
            max-width: 100%; } }
        @media (max-width: 550px) {
          #publishers--features .publishers-features--item-right .publishers-feature-item--text p, #publishers--features .publishers-features--item-left .publishers-feature-item--text p {
            max-width: 250px; } }

#publishers--up-running {
  background-color: #FFFFFF; }
  #publishers--up-running #up-running--intro-text {
    text-align: center;
    margin: 0 0 50px 0; }
    @media (max-width: 768px) {
      #publishers--up-running #up-running--intro-text {
        margin: 0 auto 20px auto;
        max-width: 200px; } }
    #publishers--up-running #up-running--intro-text h2 {
      color: #040B4E; }
  @media (max-width: 768px) {
    #publishers--up-running .trio-image-text--item {
      margin-bottom: 40px; } }

#publishers--partners {
  background-color: #EFEFEF; }
  #publishers--partners #partners--intro-text {
    text-align: center;
    margin-bottom: 55px; }
    @media (max-width: 992px) {
      #publishers--partners #partners--intro-text {
        margin: 0 auto 30px auto; } }
    @media (max-width: 550px) {
      #publishers--partners #partners--intro-text {
        max-width: 260px; } }
    #publishers--partners #partners--intro-text #parners-intro-text--break {
      display: none; }
      @media (max-width: 550px) {
        #publishers--partners #partners--intro-text #parners-intro-text--break {
          display: block; } }
  #publishers--partners #partners--logos-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 175px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 768px) {
      #publishers--partners #partners--logos-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: 140px; } }
    @media (max-width: 550px) {
      #publishers--partners #partners--logos-container {
        height: 250px;
        max-width: 265px;
        margin: 0 auto; } }
    #publishers--partners #partners--logos-container .publishers-logo--container {
      width: 260px;
      text-align: center; }
      @media (max-width: 1100px) {
        #publishers--partners #partners--logos-container .publishers-logo--container {
          width: 190px; } }
      @media (max-width: 992px) {
        #publishers--partners #partners--logos-container .publishers-logo--container {
          width: 150px; } }
      @media (max-width: 768px) {
        #publishers--partners #partners--logos-container .publishers-logo--container {
          width: 130px; } }
      #publishers--partners #partners--logos-container .publishers-logo--container .publishers--logo {
        width: 100px;
        height: auto; }
