@font-face {
  font-family: 'GraphicSemibold';
  src: url("./Fonts/Graphik-Semibold-Web.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/Graphik-Semibold-Web.eot?#iefix") format("embedded-opentype"), url("./Fonts/Graphik-Semibold-Web.woff2") format("woff2"), url("./Fonts/Graphik-Semibold-Web.woff") format("woff"), url("./Fonts/Graphik-Semibold-Web.ttf") format("truetype"), url("./Fonts/Graphik-Semibold-Web.svg") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'GraphicMedium';
  src: url("./Fonts/Graphik-Medium-Web.eot");
  /* IE9 Compat Modes */
  src: url("./Fonts/Graphik-Medium-Web.eot?#iefix") format("embedded-opentype"), url("./Fonts/Graphik-Medium-Web.woff2") format("woff2"), url("./Fonts/Graphik-Medium-Web.woff") format("woff"), url("./Fonts/Graphik-Medium-Web.ttf") format("truetype"), url("./Fonts/Graphik-Medium-Web.svg") format("svg");
  /* Legacy iOS */ }

h1, h2, h3, h4, p, input, button, form, label, textarea, a {
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: 'GraphicMedium';
  font-size: 75px;
  line-height: 88px;
  margin: 0;
  color: #850201;
  letter-spacing: -0.62px; }
  @media (max-width: 992px) {
    h1 {
      font-size: 58px;
      line-height: 70px; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 36px;
      line-height: 48px; } }

h2 {
  font-family: 'GraphicMedium';
  font-size: 50px;
  line-height: 69px;
  margin: 0;
  color: #002142;
  letter-spacing: -0.62px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 28px;
      line-height: 42px; } }

h3 {
  font-family: 'GraphicMedium';
  font-size: 24px;
  line-height: 47px;
  margin: 0;
  color: #002142;
  letter-spacing: 0; }
  @media (max-width: 768px) {
    h3 {
      font-size: 18px;
      line-height: 24px; } }

h4 {
  font-family: 'GraphicSemibold';
  font-size: 18px;
  line-height: 47px;
  margin: 0;
  color: #000000;
  letter-spacing: 0.8px; }
  @media (max-width: 768px) {
    h4 {
      font-size: 14px;
      line-height: 14px; } }

p {
  font-family: 'GraphicMedium';
  font-size: 18px;
  line-height: 37px;
  margin: 0;
  letter-spacing: -0.25px;
  color: #000000; }
  @media (max-width: 768px) {
    p {
      font-size: 14px;
      line-height: 32px; } }

a {
  font-size: 14px;
  line-height: 18px;
  font-family: 'GraphicMedium';
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  color: #850201;
  cursor: pointer; }
  a:hover {
    color: #790100;
    text-decoration: none; }
  a:focus {
    color: #931B1A; }
  @media (max-width: 768px) {
    a {
      font-size: 14px;
      line-height: 32px; } }

label {
  font-family: 'GraphicMedium';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px; }

button, .button {
  font-size: 16px;
  line-height: 1;
  padding: 18px 40px;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: inline-block;
  letter-spacing: 0.75px;
  text-align: center;
  font-family: 'GraphicMedium';
  border-radius: 4px;
  cursor: pointer;
  background-color: #850201;
  color: #FFFFFF;
  outline: none !important;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  letter-spacing: 1px; }
  @media (max-width: 768px) {
    button, .button {
      font-size: 12px;
      padding: 28px 55px; } }
  button:hover, .button:hover {
    background-color: #790100;
    color: #FFFFFF; }
  button:focus, .button:focus {
    background-color: #931B1A;
    color: #FFFFFF; }

.button--navy {
  background-color: #040B4E;
  color: #FFFFFF; }
  .button--navy:hover {
    background-color: #1D2360;
    color: #FFFFFF; }
  .button--navy:focus {
    background-color: #030946;
    color: #FFFFFF; }

.text--white {
  color: #FFFFFF; }

.text--navy {
  color: #002142; }

.text--gray {
  color: #7F7F7F; }

.text--red {
  color: #850201; }

.flex--grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .flex--grid {
      -webkit-box-align: column;
      -ms-flex-align: column;
      align-items: column; } }

.flex--grid-no-justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .flex--grid-no-justify {
      -webkit-box-align: column;
      -ms-flex-align: column;
      align-items: column; } }

.flex--grid--col-orient {
  display: flex;
  flex-direction: column; }

.flex-trio--item {
  width: 30%; }
  @media (max-width: 768px) {
    .flex-trio--item {
      width: 100%; } }

.flex-duo--item {
  width: 50%; }
  @media (max-width: 768px) {
    .flex-duo--item {
      width: 100%; } }

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.8px; }

@media (max-width: 768px) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 768px) {
  .show-for-mobile {
    display: none; } }

.page {
  background: #FFFFFF;
  overflow: hidden;
  padding: 30px 0 0 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }

.nav--outer {
  left: 0;
  right: 0;
  position: relative; }
  .nav--outer #mobile-flyout--trigger {
    display: none; }
    @media (max-width: 768px) {
      .nav--outer #mobile-flyout--trigger {
        display: inline-block; } }
  .nav--outer .mobile-flyout--container {
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 9;
    height: 350px;
    left: 0;
    right: 0;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    @media (min-width: 768px) {
      .nav--outer .mobile-flyout--container {
        display: none !important; } }
    .nav--outer .mobile-flyout--container .mobile-flyout--inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .nav--outer .mobile-flyout--container .mobile-flyout--inner .nav--link {
        margin-bottom: 35px;
        width: 100%;
        display: block;
        text-align: center;
        text-transform: uppercase; }
      .nav--outer .mobile-flyout--container .mobile-flyout--inner .mobile-flyout--menu {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 25px;
        position: relative; }
      .nav--outer .mobile-flyout--container .mobile-flyout--inner .nav--x-container {
        position: absolute;
        right: 25px;
        top: 30px; }
        .nav--outer .mobile-flyout--container .mobile-flyout--inner .nav--x-container .mobile-nav-x--img {
          width: 15px;
          height: 15px; }
  .nav--outer .mobile-flyout--closed {
    top: -350px; }
  .nav--outer .mobile-flyout--open {
    top: 0; }
  .nav--outer .nav-links--container {
    position: relative;
    z-index: 0; }
  .nav--outer .nav--logo {
    margin-right: 50px;
    display: inline-block; }
  .nav--outer .nav-logo--img {
    width: 202px;
    height: auto;
    max-height: 72px; }
    @media (max-width: 768px) {
      .nav--outer .nav-logo--img {
        width: 60px; } }
  .nav--outer .nav--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 35px; }
    @media (max-width: 768px) {
      .nav--outer .nav--inner {
        margin: 0;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: relative; } }
    .nav--outer .nav--inner .nav-inner--left {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .nav--outer .nav--inner .nav-inner--left .nav-inner-left--links a {
        margin-right: 75px;
        color: #000000;
        font-size: 18px; }
    .nav--outer .nav--inner .nav-inner--right .button {
      padding: 18px 30px; }

.universal--header {
  padding: 65px 0 40px 0; }
  @media (max-width: 1100px) {
    .universal--header {
      padding: 40px 0 40px 0; } }
  @media (max-width: 768px) {
    .universal--header {
      padding: 35px 0 40px 0; } }

.pre-footer--module {
  background-color: #004386; }
  .pre-footer--module .pre-footer--module-inner {
    padding: 60px 0; }
  .pre-footer--module .pre-footer--demographic-module {
    width: 325px; }
    .pre-footer--module .pre-footer--demographic-module h2, .pre-footer--module .pre-footer--demographic-module p {
      color: #FFFFFF; }
    .pre-footer--module .pre-footer--demographic-module p {
      font-size: 16px;
      line-height: 33px;
      margin: 10px 0; }

.footer {
  background-color: #000000; }
  .footer .footer--end-col, .footer .footer--inner {
    padding: 80px 115px 50px 115px; }
  .footer .footer--inner {
    text-align: center;
    margin: 0 auto; }
    .footer .footer--inner .footer--left {
      width: 500px; }
      .footer .footer--inner .footer--left .footer--col {
        text-align: left; }
        .footer .footer--inner .footer--left .footer--col .footer-link--lg {
          color: #FFFFFF;
          font-size: 22px;
          line-height: 47px;
          width: 100%;
          display: block; }
    .footer .footer--inner .footer--right {
      width: 405px; }
      .footer .footer--inner .footer--right #footer--address-col {
        width: 225px; }
      .footer .footer--inner .footer--right .footer--col {
        text-align: left; }
        .footer .footer--inner .footer--right .footer--col .footer-sm-link--title {
          color: #FFFFFF;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 5px; }
        .footer .footer--inner .footer--right .footer--col .footer-link--sm {
          color: #FFFFFF;
          font-size: 16px;
          line-height: 31px;
          width: 100%;
          display: block; }
        .footer .footer--inner .footer--right .footer--col #footer-col--phone {
          margin-bottom: 20px; }
  .footer .footer--end-col {
    text-align: center;
    padding-top: 0;
    padding-bottom: 50px; }
    .footer .footer--end-col p {
      color: #FFFFFF;
      font-size: 16px;
      line-height: 24px; }
    .footer .footer--end-col #footer--social-links, .footer .footer--end-col #fake-col {
      width: 110px; }
    .footer .footer--end-col #footer--social-links img {
      width: 45px;
      height: 45px; }

.section--normal {
  padding: 165px 0; }

.contact-pre-footer {
  background-color: #004386;
  padding: 65px 0; }
  .contact-pre-footer .contact-pre-footer--inner {
    justify-content: center; }
  .contact-pre-footer .pre-footer--demographic-divider {
    width: 6px;
    height: 355px;
    margin: 0 180px;
    background-color: #235C95; }
  .contact-pre-footer .pre-footer--demographic-module {
    width: 45%;
    max-width: 350px;
    padding-top: 50px; }
    .contact-pre-footer .pre-footer--demographic-module h2, .contact-pre-footer .pre-footer--demographic-module p {
      color: #FFFFFF; }
    .contact-pre-footer .pre-footer--demographic-module p {
      margin: 10px 0 20px 0; }

.carousel--arrow {
  width: 20px;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.carousel-arrow--left {
  margin-left: 20px;
  left: 0; }

.carousel-arrow--right {
  margin-right: 20px;
  right: 0; }
