// Colors
$Red: #850201;
$Navy: #002142;
$Black: #000000;
$White: #FFFFFF;
$Gray: #7F7F7F;
$LightGray: #F7F7F7;
$BlueOne: #004386;
$BlueTwo: #040B4E;

// Breakpoints
$DeskLG: 1200px;
$Desk: 1100px;
$TabletLG: 992px;
$Tablet: 768px;
$Phone: 550px;
$PhoneXS: 420px;
$PhoneXXS: 350px;